.header{
    text-align: center;
    font-size: 50px;
    width: 1400px;
    color: #fff9fa;
    background: #2da2d4;
}

.searchBar {
    display: inline-flex;
    margin: 0 0 30px -175px;
    position: relative;
    left: 50%;
}
.searchBar input {
    height: 35px;
    width: 250px;
    font-size: 20px;
    border: #eee 1px solid;
    outline: none;
}
.searchBar button {
    height: 40px;
    width: 100px;
    font-size: 25px;
}
.bookList{
    width: 1200px;
    margin: 0 auto;
}

.bookList #tableOfBook{
    float: left;
    width: 400px;
    height: 160px;
    background: rgb(202, 232, 245);
}

.bookList #tableOfBook #img{
    width: 110px;
    height: 160px;
}
.bookList #tableOfBook #bookInfo{
    text-align: left;
    margin: 5px;
}

