.bookDetail{
    margin: 0 200px;
}
.bookDetail #bookCover{
    text-align: center;
}
.bookDetail #bookInfo{
    font-size: 20px;
}
.bookDetail #checkPart{
    font-size: 20px;
}
.bookDetail #checkPart input{
    font-size: 18px;
    width: 42px;
}
